


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600&family=Noto+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;500&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Fira Sans', sans-serif;
}
header{
    display: flex;
    height: 90px;
    margin:20px;
    font-size:45px;
    font-weight: 300;
}
header>p{
    padding-left: 25px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
header>p>span{
    font-weight: 500;
    color: rgb(38, 38, 184);
}
header>img{
    width:min-content;
}
#search-heading{
    background-color: rgb(38, 38, 184);
    color: white;
    font-size: 43px;
    font-weight: 300;
    margin: 0 20px ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}
#search-section-box{
    display: flex;
    margin-left: 30px;
    justify-content: center;
    text-align: center;
    font-size: 43px;
    font-weight: 300;
    margin-top: 10px ;
}
#search-box{
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(212, 211, 211);
    width: 50%;
    border-radius: 50px;
    margin-right: 10px;
}
#search-box>input{
    font-family: 'Fira Sans', sans-serif;
    border: none;
    background-color: rgb(212, 211, 211);
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 400;
    width: 80%;
}
input:focus{
    outline: none;
}
#search-box>button{
    
    font-size: 37px;
    border: none;
    font-weight: 100;
   
    background-color: rgb(212, 211, 211);
}
#category{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
#category>button{
    color: white;
    font-size: 30px;
    font-weight:bold;
    margin-right: 10px;
    width: 28%;
    border-radius: 50px;
    border-style: none;
}
.category-btn{
    background-color: rgb(38, 38, 184);
}
.category-btn-active{
    background-color: rgb(34, 176, 201);    
}
.table{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 20px;
    padding:5px 5px 5px 20px;
    border-radius: 30px;
    background-color: rgb(38, 38, 184);
}
.table-row
{   
    display: flex;
    width: 100% ;

}
#first-row{
    color: white;
    font-size: 30px;
    font-weight:bold;
    text-align: left;
}
#second-row{
    color: white;
    font-size: 40px;
    font-weight: 300;
    text-align: left;
}
.first-column
{
    width: 55%;
}
.second-column{
    width: 22%;
}
.third-column{
    width: 23%;
}
